/.env
/.git
/.github
/.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/data/*
/storage/logs/*.log
/vendor
.DS_Store
npm-debug.log
yarn-error.log/.env
/.git
/.github
/.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/data/*
/storage/logs/*.log
/vendor
.DS_Store
npm-debug.log
yarn-error.log